<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-light-emphasis"> &copy; YelpCamp 2024</span> 
        <a class="text-light-emphasis" href='https://github.com/Wild1304/Yelp-Camp' target="_blank">Created By: Wild1304</a>
    </div>
</footer>