<% layout ('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://rumbonaturaleza.com/wp-content/uploads/2022/11/019_Camping_FrontCover_juegosdeCampamento.jpg" alt=""
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Register</h1>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" type="email" id="email" name="email" required>
                                    <div class="valid-feedback">
                                        Looks Good!
                                    </div>
                                    <div class="mb-3 d-grid gap-2">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control" type="password" id="password" name="password" required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <button class="btn btn-success">Register</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
    